# Base de données PostgreSQL (Railway injecte DATABASE_URL automatiquement)
DATABASE_URL="postgresql://user:password@localhost:5432/gestion_formations"

# JWT
JWT_SECRET="change-this-super-secret-key-in-production-min-32-chars"

# CORS — URL de ton frontend Vercel
FRONTEND_URL="http://localhost:3000"

# Node environment
NODE_ENV="development"

# Port (Railway l'injecte automatiquement via $PORT)
PORT=3001
